
:root {
  --bg:  #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms; 
}


h2, h3 {
  text-align: center;
}

p {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

.header {
  background-color: darkolivegreen;
  padding-top:20px;
  
}

.header h1{
  color: white;
  font-size: 60px;
  padding-top:.50vw;
  padding-left: 3vw;
  padding-bottom: 25px;
}

#medialink{
  float: right;
  padding: 10px;
}

#facebook, #twitter, #instagram {
  width:40px;
}

.footer{
  background-color: rgb(32, 32, 32);
  height: 50px;
}

.footer p, a{
  color: white;
  padding-top: 15px;
}

nav{
  background-color: rgb(255, 255, 255);
}

nav ul li {
  display: table;
  float: left;
  height: 70px;
  padding: 0 1%;
  text-align: center;
  width: 14.2%;
  margin-top: -10px;
}

nav ul li a {
    color: #3e3e44;
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a div {
  height: 0;
  margin: 0 auto;
  opacity: 0;
  width: 14px;
}


.nav-cat-sustainlife a:active{
background-color: green;
opacity: 100;
color: rgb(241, 241, 241);
}


/* nav:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

body {
  margin: 0;
  background: #f1f1f1;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home{
  background-color: rgb(233, 232, 232);
  margin-top: 10vh;
  text-align: center;
}

.home h2{
  text-align: center;
}

.Life, .Consumption{
  margin-top: 10vh;
  padding-top: 10vh;
  background-color: rgb(233, 232, 232);
}

#life-cards{
  margin: 10px;
  width: 300px;
  height:200px
}

.card-title{
  font-size: 18px;
}

#life-btn{
  background-color: rgb(119, 117, 117);
}

#life-btn :hover, #life-cards:hover{
  background-color: rgb(65, 63, 63);
}

#life-link{
  margin-top: -20px;
  height: 200px;
}

#life-title{
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  font-size: 16px;
  padding:5px;
}

.stay-home{
  margin-top: 10vh;
  padding-top: 5vh;
  background-color: rgb(233, 232, 232);
  text-align: center;
  position: relative;
}

.stay-home h1{
  border-bottom: solid black 1px;
  font-family: Montserrat,sans-serif;
  width: 85%;
  font-weight: 700;
  text-align: left;
  margin-left: 70px;
}

#stayHeader p{
  font-family: Montserrat,sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 19px;
}

#headerImg {
position: relative;
height: 100%;
}

#headerImg img, .Consumption img{
  width: 90vw;
}

#headerImg h2{
  position: absolute;
  left: 40vw;
  top: 45%;
  color: white;
}

.Consumption{
  text-align: center;
}

#quote{
  height: 200px;
  width: 60vw;
  margin-left: 20%;
  border: rgb(226, 225, 225) solid 4px;
  background-color: rgb(248, 246, 246);
  position: relative;
}

#quote p{
position: absolute;
padding: 20px;
bottom: 25px;
font-family: Montserrat,sans-serif;
font-weight: 700;
font-size: 16px;
color: black;
}

#quote img{
  width: 40px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.con-list{
  text-align: left;
}

.con-list li{
  display: inline;
  text-align: left;
  list-style-type: none;
}

#con-img{
  width: 100%;
}


/*Tiny house*/

.tiny-article{
  background-color: rgb(233, 232, 232);
  margin-top: 10vh;
  text-align: center;
}

.tiny-article h1{
  padding-top: 30px;
}

.tiny-article img{
  width: 100%;
}

.caption-text{
  background-color: darkolivegreen;
  color: white;
  text-align: right !important;
}

.tiny-article div p {
  text-align: start;
}

#why-tiny{

}

#homeImg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#forestImg{
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  width: 85%;
}



/* Community Tab*/

.community{
margin-top: 10vh;
}

.community h1{
  text-align: center;
}

#staff {
  align-items:center;
}

#staff div{
  padding: 15px;
}

#staff Img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  object-fit: cover;
  border-radius: 80%;
  height: 320px;
  width: 300px;
}

.community-contact{
  border-bottom: black solid 2px;
  margin: 10px
}

/* Nav Dropdown */

#nav-sm{
  display:none;
}

@media (max-width: 960px){
#menu-sm {
    display: block;
    /* background: url(/assets/images/menu.png) 50% 50% no-repeat #FFF; */
    cursor: pointer;
    float: right;
    height: 36px;
    margin: 40px 35px 0 0;
    width: 39px;
    z-index: 99;
}
}

@media (max-width: 960px){
#menu-sm.opened {
    /* background: url(/assets/images/menu-opened.png) 50% 50% no-repeat #FFF; */
}
}