
:root {
  --bg:  #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms; 
}


h2, h3 {
  text-align: center;
}

p {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

.header {
  background-color: darkolivegreen;
  padding-top:20px;
  
}

.header h1{
  color: white;
  font-size: 60px;
  padding-top:.50vw;
  padding-left: 3vw;
  padding-bottom: 25px;
}

#medialink{
  float: right;
  padding: 10px;
}

#facebook, #twitter, #instagram {
  padding-right: 10px;
}

nav{
  background-color: rgb(255, 255, 255);
}

nav ul li {
  display: table;
  float: left;
  height: 70px;
  padding: 0 1%;
  text-align: center;
  width: 14.2%;
  transition: all .5s;
  -webkit-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s; 
  margin-top: -10px;
}

nav ul li a {
    color: #3e3e44;
    display: table-cell;
    vertical-align: middle;
    transition: all .5s;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all .5s;
    -ms-transition: all .5s;
    -moz-transition: all .5s;
}

nav ul li a div {
  height: 0;
  margin: 0 auto;
  opacity: 0;
  width: 14px;
  transition: all .5s;
  -webkit-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
}

a {
  background-color: transparent;
}

.nav-cat-sustainlife :active{
background-color: green;
}

.nav-cat-active a div {
  height: auto;
  opacity: 1;
}

/* nav:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

body {
  margin: 0;
  background: #f1f1f1;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home{
  background-color: rgb(233, 232, 232);
  margin-top: 10vh;
  text-align: center;
}

.home h2{
  text-align: center;
}

.tiny-article{
  background-color: rgb(233, 232, 232);
  margin-top: 10vh;
  text-align: center;
}

.tiny-article h1{
  padding-top: 30px;
}

.tiny-article img{
  width: 100%;
}

.caption-text{
  background-color: darkolivegreen;
  color: white;
  text-align: right !important;
}

.tiny-article div p {
  text-align: start;
}

#why-tiny{

}

#homeImg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#forestImg{
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  width: 85%;
}

#staff {
  align-items:center;
}

#staff Img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 25%;
  border-radius: 100px;
}

#nav-sm{
  display:none;
}





@media (max-width: 960px){
#menu-sm {
    display: block;
    /* background: url(/assets/images/menu.png) 50% 50% no-repeat #FFF; */
    cursor: pointer;
    float: right;
    height: 36px;
    margin: 40px 35px 0 0;
    width: 39px;
    z-index: 99;
}
}

@media (max-width: 960px){
#menu-sm.opened {
    /* background: url(/assets/images/menu-opened.png) 50% 50% no-repeat #FFF; */
}
}